{% extends 'base.html'%}

{%block head%}
<title>Home</title>
{%endblock%}


{%block body%}
<h1>Pitch Moment</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome </h1>
            
            <p> Welcome to the pitching moment this will help you utilise your 
                60 seconds in a more simplified manner.That you won't regret in your life-time
            </p>
            <p>
                <a class="btn btn-primary" href="/pitch"role="button">Go to Pitching Board
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{%endblock%}